.page-home {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.page-home header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.page-home header h1 {
  color: #FFF;
  font-size: 30px;
  margin-top: 35px;
}

.page-home header a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
}

.page-home header a:hover {
  color: rgb(210, 50, 50);
}

.loginBox {
  background-color: rgba(90, 83, 83, 0.151);
  width: 300px;
  text-align: right;
  padding-bottom: 70px;
  margin-top: 50px;
  border-radius: 2%;
  border: 1px solid rgba(255, 255, 255, 0.322);
}

.loginBoxHide {
  background-color: transparent;
  width: 300px;
  text-align: right;
  padding-bottom: 70px;
  margin-top: 50px;
  border-radius: 2%;
}

.loginButton {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.loginButton:hover {
  color: rgb(210, 50, 50);
  cursor: pointer;
}

.loginForm {
  padding: 10px;
  text-align: left;
}

.loginForm input {
  margin: 5px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loginForm button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
}

.loginForm h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.playBox {
  vertical-align: bottom;
  display: flex;
  justify-content: right;
  margin-top: 100px;
}

.playBox a {
  background-color: rgb(210, 50, 50);
  border: 2px solid rgb(210, 50, 50);
  text-decoration: none;
  color: black;
  font-size: 25px;
  width: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 2px;
}

.playBox a:hover {
  background-color: #FFF;
  transition: 0.5s;
}

.userName {
  margin-top: 20px;
  margin-right: 35px;
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 2px 0px black; 
}

.hide {
  visibility: hidden;
  margin-bottom: 55px;
}