.page-home {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.page-home header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.page-home header h1 {
  color: #FFF;
  font-size: 30px;
  margin-top: 35px;
}

.page-home header a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
}

.page-home header a:hover {
  color: rgb(210, 50, 50);
}

.loginBox {
  background-color: black;
  width: 300px;
  text-align: right;
  padding-bottom: 70px;
  margin-top: 50px;
  border-radius: 2%;
}

.loginBox .loginButton {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.loginBox .loginButton:hover {
  color: rgb(210, 50, 50);
  cursor: pointer;
}

.loginBox form {
  padding: 10px;
  text-align: left;
}

.loginBox form input {
  margin: 5px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loginBox form button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
}

.loginBox form h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.playBox {
  vertical-align: bottom;
  display: flex;
  justify-content: right;
  margin-top: 100px;
}

.playBox a {
  background-color: rgb(210, 50, 50);
  border: 2px solid rgb(210, 50, 50);
  text-decoration: none;
  color: black;
  font-size: 25px;
  width: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 2px;
}

.playBox a:hover {
  background-color: #FFF;
  transition: 0.5s;
}
